<%- include('../partials/header') -%>

<div class="container">
<header class="jumbotron" style="  padding-top: 8px;
  padding-bottom: 8px; margin-top: 15px;">
  <div style="text-align: center;" class="container">
  <h1 >Welcome to Extra Time</h1>
  <p class="lead">A Football Blog App</p>
  <p>
    <a class="btn btn-secondary" href="/blog/new">Create a new Blog</a>
  </p>
  </div>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<% blogs.forEach(function(blog){ %>
     <div class="col-lg-3 col-md-6 mb-4">
       <div class="card h-100">
         <img style=" height:200px;
    width:100%;" class="card-img-top" src=" <%= blog.image %> ">
         <div class="card-body">
           <h4 class="card-title"><%= blog.title %></h4>
         </div>
         <div class="card-footer">
           <a href="/blog/<%= blog._id%>" class="btn btn-secondary">View Blog</a>
         </div>
       </div>
     </div>
<% }) %>

</div>

<%- include('../partials/footer') -%>
